@media (min-width: 3000px) {
    .section1, .main1, .main2, .main3 {
        width: 3000px;
    }   
}

@media (min-width: 1500px) {
    header nav {
        width: 1500px;
    }
}

@media (min-width: 1500px) {
    footer {
        width: 1300px;
    }
}
