@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    user-select: none;
}

:root {
    --global-background-color: #fbfbfdcc;
    --global-body-color: ;
    --global-font-color: #000000cc;
    --global-link-color: #0066CC;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--global-background-color);
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    margin: 0 7.53125em;
    padding: 0 1.375em;
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--global-font-color);
    font-weight: 400;
    font-size: 0.75rem;
}
