@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --global-background-color: #fbfbfdcc;
    --global-body-color: #f5f5f7;
    --global-font-color: #1d1d1f;
    --global-link-color: #0066CC;
    --global-link-light-color: #2997FF;
    --footer-font-color: #515153;
    --footer-link-color: #222224;
    --footer-font-size: 0.75rem;
    --footer-font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--global-body-color);
}

header {
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--global-background-color);
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
}

header nav {
    width: 77.8125em;
    margin: auto;
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    margin: 0 6em;
    padding: 0 1.375em;
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--global-font-color);
    font-weight: 400;
    font-size: 0.75rem;
    transition: transform 300ms;
}

header nav ul li a:hover {
    transform: scale(1.1);
}

.main1 {
    overflow: hidden;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 692px;
    background-image: url(images/mac-book-air.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 5em 0;
}

.main1 .main1-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.main1 .mac-book-air {
    color: var(--global-font-color);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
}

.main1 .mb-air-tag {
    color: var(--global-font-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.main1 .mb-air-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    z-index: 1;
    margin-top: 1em;
}

.main1 .mb-air-links :is(.learn-more, .buy) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main1 .mb-air-links :is(.learn-more a, .buy a) {
    cursor: pointer;
    color: var(--global-link-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.main1 .mb-air-links :is(.learn-more a, .buy a)::after {
    content: "";
    width: 100%;
    height: .1em;
    background-color: var(--global-link-color);
    position: absolute;
    bottom: 3px;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.main1 .mb-air-links :is(.learn-more a, .buy a):hover::after {
    opacity: 1;
}

.main1 .mb-air-links :is(.learn-more, .buy) svg {
    fill: var(--global-link-color);
    transition: transform 300ms;
}

.main1 .mb-air-links :is(.learn-more, .buy):hover :is(#svg-lm, #svg-b) {
    transform: translateX(0.5em);
}

.main2 {
    overflow: hidden;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 736px;
    background-image: url(images/college-shop-discount.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 5em 0;
}

.main2 .main2-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.main2 .college-save {
    color: var(--global-font-color);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.main2 .college-save-plus {
    color: var(--global-font-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.main2 .college-save-shop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    z-index: 1;
}

.main2 .college-save-shop a {
    cursor: pointer;
    color: var(--global-link-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.main2 .college-save-shop a::after {
    content: "";
    width: 100%;
    height: .1em;
    background-color: var(--global-link-color);
    position: absolute;
    bottom: 3px;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.main2 .college-save-shop a:hover::after {
    opacity: 1;
}

.main2 .college-save-shop svg {
    fill: var(--global-link-color);
    transition: transform 300ms;
}

.main2 .college-save-shop:hover #svg-s {
    transform: translateX(0.5em);
}

.main3 {
    overflow: hidden;
    align-items: center;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 736px;
    background-image: url(images/iphone-14-pro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 5em 0;
}

.main3 .main3-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.main3 .iphone {
    color: var(--global-body-color);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 120%;
}


.main3 .iphone-tag {
    color: var(--global-body-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.main3 .iphone-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    z-index: 1;
    margin-top: 1em;
}

.main3 .iphone-links :is(.learn-more, .buy) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main3 .iphone-links :is(.learn-more a, .buy a) {
    cursor: pointer;
    color: var(--global-link-light-color);
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}

.main3 .iphone-links :is(.learn-more a, .buy a)::after {
    content: "";
    width: 100%;
    height: .1em;
    background-color: var(--global-link-light-color);
    position: absolute;
    bottom: 3px;
    left: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.main3 .iphone-links :is(.learn-more a, .buy a):hover::after {
    opacity: 1;
}


.main3 .iphone-links :is(.learn-more, .buy) svg {
    fill: var(--global-link-light-color);
    transition: transform 300ms;
}

.main3 .iphone-links :is(.learn-more, .buy):hover :is(#svg-lm, #svg-b) {
    transform: translateX(0.5em);
}

footer {
    background-color: var(--global-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    width: 1000px;
    height: 980px;
    margin: auto;
    padding: 1.0625em 0.5em;
}

footer .first-row {
    background-color: var(--global-body-color);
    color: var(--footer-font-color);
    font-size: var(--footer-font-size);
    font-weight: var(--footer-font-weight);
}

footer .first-row p > a {
    color: var(--footer-link-color);
}

footer .border {
    width: 100%;
    height: 1px;
    background-color: var(--footer-font-color);
    margin: 0;
}

footer .second-row {
    width: 100%;
    height: 440px;
    display: flex;
    justify-content: space-between;
    gap: 1.25em;
    background-color: var(--global-body-color);
    color: var(--footer-font-color);
    font-size: var(--footer-font-size);
    font-weight: var(--footer-font-weight);
    position: relative;
}

footer .column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2em;
    width: 20%;
}

footer .column-items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: left;
}

footer .second-row .column p {
    color: var(--footer-link-color);
    font-weight: 500;
}

footer .second-row .column a {
    color: var(--footer-font-color);
    text-decoration: none;
}

footer .second-row .column a:hover {
    text-decoration: underline;
}
