@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --global-background-color: #fbfbfdcc;
    --global-body-color: #f5f5f7;
    --global-font-color: #1d1d1f;
    --global-link-color: #0066CC;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--global-body-color);
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--global-background-color);
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5em;
    margin: 0 7.53125em;
    padding: 0 1.375em;
    list-style: none;
}

header nav ul li a {
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--global-font-color);
    font-weight: 400;
    font-size: 0.75rem;
}

.main1 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 1265px;
    height: 690px;
    background-color: var(--global-body-color);
    position: top center;
}

.main1 .mac-book-air {
    color: var(--global-font-color);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 100%;
}

.main1 .mb-air-tag {
    color: var(--global-font-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.main1 .mb-air-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    z-index: 1;
}

.main1 .mb-air-links .learn-more p, 
.main1 .mb-air-links .buy p {
    cursor: pointer;
    margin-top: 1em;
    color: var(--global-link-color);
    font-size: 1.2rem;
    font-weight: 500;
}

.main1 img {
    width: 1265px;
    transform: scale(2.5);
}
